{
  "presets": [
    [
      "@babel/preset-env",
      {
        // 按需引入 babel-polyfill
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": []
}